<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> List Categories
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>update</th>
            <th>delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of categories" >
            <td >{{c.id}} </td>
            <td>{{c.name}}</td>

            <td>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="getSelectedData(c)" (click)="myModal.show()" >
                update
              </button>


            </td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="getSelectedData(c)" (click)="delModal.show()" >
                Delete
              </button>
            </td>
          </tr>

          </tbody>
        </table>

          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Category</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>One fine body&hellip;  {{this.selectedCategory?.name}}</p>
        <form [formGroup]="categoryForm" (ngSubmit)="update()" class="form-horizontal" >
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-email">Email</label>
            <div class="col-md-9">
              <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="{{this.selectedCategory?.name}} " autocomplete="name" formControlName="name" required>
              <div *ngIf="name.touched && name.invalid">
                <small *ngIf="name.errors.required" class="text-danger">name is required<br></small>

              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid"   (click)="update()" >Save changes</button>
          </div>
        </form>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #delModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Category</h4>
        <button type="button" class="close" (click)="delModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>voulez-vous supprimer cet Category ?  {{this.selectedCategory?.name}} </p>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="delModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary"   (click)="delete()" >Oui</button>
        </div>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
